body {
	background-color: #8b8c89;
	}

h1 {
	color: #006466;
	font-size: 20px;
	text-align: center;
	border: thick double #4a525a;;
	border-color: #4a525a;
	padding: 10px 10px;
	}

h2 {
	font-family: 'Roboto', sans-serif;
	color: #9b9b7a;
	font-size: 20px;
	}

.profile-picture {
	height: 200px;
 	}

.paragraph{
	font-size: 18px;
	text-align: justify;
	padding: 5px;
	margin: 15px;
	}

.card{
	background-color: #f8f9fb;
	border: 2px solid #4a525a;
	margin: 50px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 30px;
	box-shadow: 20px 20px 10px black;
	}

.button{
	text-decoration: none;
	background-color: #acafaf;
	padding: 10px;
	margin: 10px;
	text-align: justify;
	display: inline-block;
    margin: 0 2%;
	font-weight: lighter;
	border-radius: 8px;
	border: 2px solid #9b9b7a;
	}

.button:hover{
	background-color: #83858c;
	color: white;
	font-size: 30px;
	}

@media (max-width: 720px) {
  .card {
    width: 500px;
  }

